@charset "UTF-8";

*, *:before, *:after{/*レスポンシブ対応 width、heightの長さにpadding, borderを含めるか*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /*ユーザーが決めたフォントサイズをどれだけ反映させるか*/
  /* ユーザーが自由に設定できるサイトを目指すためにはサイズは絶対値にしてはダメ */
  font-size: 100%;
}

body {
  /* ページ上部に空白が入ることを避ける */
  margin: 0;
  /* font-family: 'Roboto Slab', serif; */
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {/*floatのレイアウト適用の解除*/
  clear: left;
}

.container {
  max-width: 1170px; /*最大幅*/
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; /*中央寄せ（ブロック要素）*/
}

/*top*/
.top-wrapper {
  /*上下のpadding*/
  padding: 180px 0 100px 0;
  background-image: url("https://prog-8.com/images/html/advanced/top.png");
  background-size: cover; /*背景画像のサイズ指定*/
  color: white;
  text-align: center; /*インライン要素の中央寄せ*/
}

.top-wrapper h1 {
  font-size: 45px;
  opacity: 0.7;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
}

.btn-wrapper {
  /*ボタンの塊のレイアウト*/
  margin: 20px 0;
  text-align: center;
}

.btn-wrapper p {
  /* orの部分 */
  margin: 10px 0;
}

.btn { /*aタグ*/
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.fab {
  margin-right: 5px;
}

/*header*/

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

/* レスポンシブ */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
.fa {
  display: none;
}
/*end */

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255, 0.3);
}

/*lesson*/

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}


.lesson {
  width: 25%;
  float: left;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 34%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

/* message-contents */
.heading h3 {
  font-weight: normal;
}
.message-wrapper {
  padding-bottom: 80px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.message {
  background-color: #5dca88;
  box-shadow: 0 7px #1a7940;
  cursor: pointer;
  padding: 15px 40px;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* footer */
footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}
